h1,
h2 {
  color: white;
}

input {
    padding: 10px;
}

.event-title {
    font-size: 1.25em;
}

.event-capacity {
    color: grey;
}

.event-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  border-radius: 5px;
  padding: 25px;
  max-height: 300px;
  width: 450px;
}

.button-1{
  appearance: none;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;

  display: inline-block;
  padding: 3px 3px;
  background-image: linear-gradient(to right, orange, orange);
  border-radius: 4px;

  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.button-2 {
  appearance: none;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;

  display: inline-block;
  padding: 3px 3px;
  background-image: linear-gradient(to right, #69b0ee, #69b0ee);
  border-radius: 4px;

  color: #fff;
  font-size: 15px;
  font-weight: 700;
}

.button-3 {
  appearance: none;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;

  display: flex;
  justify-content: center;
  padding: 3px 3px;
  background-image: linear-gradient(to right, #69b0ee, #69b0ee);
  border-radius: 4px;

  color: #fff;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 25px;
  margin-left: 45%;
  padding: 3px;
}


.event-capacity {
  color: grey;
}

.txt-field {
    max-width: 70%;
    width: 70%;
}

.btn-submit {
    padding-top: 20px;
    text-align: center;
}

.title {
  margin: 25px auto auto auto;
  max-width: 1200px;

  background: #69b0ee;
  padding: 15px;
  border-radius: 20px;
}

.event-planner {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: -60px auto 1em auto;
  max-width: 1200px;

  background: rgb(207, 204, 204);
  padding: 15px;
  border-radius: 20px;
  min-height: 100vh;
}

.icon {
  cursor: pointer;
}

.top-menu-banner {
  display: flex;
  background: rgb(0, 97, 153);
  height: 130px;
  padding-right: 1em;
  gap: 10px;
}

.top-menu-title {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  padding: 2px;
  margin: auto 0px auto 400px;
  width: 100%;
}

.top-menu-buttons {
  display: flex;
  flex-direction: row;
  justify-content: right;
  width: 25%;
  align-items: center;
  gap: 10px;
}

.items {
  display: flex;
  flex-direction: row;
}

#header-h1 {
  font-size: 50px;
}

#white-header {
  color: white;
  font-size: 40px;
}

#event-list {
  text-align: center;
  text-transform: uppercase;
}

#event-block {
  display: block;
  overflow: auto;
}

#bottom-menu {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  bottom: auto;
  left: auto;
  background: rgb(0, 97, 153);
  height: 50px;
  width: 100%;
}

h1 {
  color: white;
  font-size: 32px;
}
span {
  display: inline-block;
}

#header-h1 {
  font-size: 50px;
  text-align:  left;
}


#white-header {
  color: white;
  font-size: 40px;
}